<!DOCTYPE html>
<html>
<form action="profile" method="POST">
  <head>
    <title>STUY WIGGLES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
    <style>
      body{padding-top:60px;padding-left:40px}
    </style>

  

  </head>
  
  <body>
 <!-- <body bgcolor="#212122">-->
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/profile">Stuy Wiggles</a>
	  <div class="nav-collapse navbar-responsive-collapse in collapse">
	    <ul class="nav">
	      <li class="active">
		<a href="/about">About</a>
	      </li>
	      <li><a href="/profile">Profile</a></li>
	      <!--li><a href="/graph">Stock Market</a></li-->
	      <!--li><a href="/bank">Bank</a></li-->
	    </ul>
	  <p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
	  </div> <!-- /.nav-collapse --> 
	</div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span2">
	  <!--Sidebar content (Login)-->
	</div>
	<div class="span10">
	  <h1>Welcome to Stuy Wiggles!</h1>
	  <h4>Constructed by Georgiana Yang, Mengdi Lin, and Victoria Stempel</h4>
	  <br></br>
	  <h4>Purpose:</h4>
	  <p>Here we shall explain</p>
	  <h4>Instructions</h4>
	  <p>
	    <h4>Resources:</h4>
	    <ul>
	      <li>MongoDB</li>
	      <li>Twitter Bootstrap</li>
	    </ul>
	</div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
      
      <script src="static/js/bootstrap.min.js"></script>
      
      
      
  </body>
</form>
</html>
