<!DOCTYPE html>
<html>

  <head>
    <title>Stuy Wiggles</title>
    <link rel="shortcut icon"  href="{{ url_for('static', filename='img/icon.jpg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:100px;
	padding-left:40px;
	background-image: url("../static/img/background313.jpg");
	background-repeat: repeat-y;
	color:black;
	}
	tr:hover {
	color: white;
	}
	a:link{color:#0404B4;}
	a:visited {color:#7d6115;}
	.requests{padding-top:100px; padding-left:100px;}
	.back h3 {color:black;}
	h1,h2,h3,h4,h5,h6,body {
	font-family:"georgia";
	}
      </style>
  </head>

  <body>

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span> 
	</button>

	<a class="brand" href="/"><img src="static/img/Wiggles.png" height="20" width="89"></a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    {% if loggedout %}
	    <li> <a href="/about">About</a></li>
	    <li><a href="/register">Register</a></li>
	    {% else %}
	    <li><a href="/profile">Profile</a></li>
	    <li><a href="/tradingfloor">Trading Floor</a></li>
	    <li><a href="/classinfo">Class Information</a></li>
	    <li><a href="/edit">Edit Profile</a></li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown">Graduation Requirements<b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href="/grad15">Graduation Requirement (2015)</a></li>
		<li><a href="/grad07">Graduation Requirement (2007)</a></li>
	      </ul>
	    </li>
	    <a class="navbar-text pull-right" href="/logout" class="navbar-link">Logout</a>
	    {% endif %}
	  </ul>
	</div> <!-- /.nav-collapse --> 
      </div>
    </div>
  </div>

    <form action="classinfo" method="POST" name="formpost">
<div class="container-fluid">
  {% if get %}
  {% else %}
  {% if validate %}
  <div class="span4 alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    Action Success!
  </div>
  {% else %}
  <div class="span12 alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <ul>Invalid Request!
    <li>
      <ul>To set classes
	<li>You must drop the current class before you can set a new one</li>
	<li>If you have lunch this period, go to edit profile to change your lunch period</li>
	</ul>
    </li>
      <li>
      <ul>To request classes
	<li>If you are requesting a class that coincides with your lunch period, you must change your lunch period first</li>
	<li>You cannot request a class you already have in the same period </li>
      </ul>
      </li>
    </ul>
    
  </div>
  {% endif %}
  {% endif %}

<div class="row-fluid">
  <div class="span12">
    <div class="span4 back">
      <h1>Class List</h1>
      <h3>Name: {{name}}</h3>
      <h3>Osis: {{osis}}</h3>
      <h3>Id: {{digits}}</h3>
    </div>

    <div class="span10">
      <form class="navbar-search pull-left">
	<input type="text" class="search-query filter" placeholder="search">

	<table class="table table-condensed table-hover table-striped" id="myTable">
	  <thead>
	    <tr>
	      <th>Period</th>
	      <th>Class</th>
	      <th>Teacher</th>
	      <th>Classcode</th>
	      <th>Section</th>
	      <th>Add To Schedule</th>
	      <th>Request Class</th>
	    </tr>
	  </thead>
	  <tbody class="searchable">
	    {% for item in classes %}
	    <tr>
	      <td>{{item[0]}}</td>
	      <td><a href="{{item[5]}}">{{item[1]}}</a></td>
	      <td>{{item[2]}}</td>
	      <td>{{item[3]}}</td>
	      <td>{{item[4]}}</td>

	      <!--
		  <button class="btn btn-primary btn-small" type="submit" name="button" value="remove {{loop.index}}"><i class="icon-remove icon-white"></i>remove</button>
		  -->
	      <td><button class="btn btn-success btn-small" type="submit" name="button" value="set {{loop.index}}"><i class="icon-chevron-up icon-white"></i>add</button></td>
	      <td><button class="btn btn-primary btn-small" type="submit" name="button" value="req {{loop.index}}"><i class="icon-flag icon-white"></i>request</button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	</form>
    </div>
  </div>

</body>
</form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
      <script src="static/js/bootstrap.min.js"></script>

      <script type="text/javascript">
	$('input.filter').live('keyup', function() {
	var rex = new RegExp($(this).val(), 'i');
	$('.searchable tr').hide();
        $('.searchable tr').filter(function() {
        return rex.test($(this).text());
        }).show();
	});
	
      </script>
</html>
