<!DOCTYPE html>
<html>
  <form action="edit" method="POST" id="editor">
    <head>
      <title>STUY WIGGLES: Edit</title>
      <meta name="viewport" content="width=device-width,initial-scale=1.0"></meta>
      <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
      <link href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:60px;padding-left:40px}
	label.valid{
	width: 24px;
	height: 12px; 
	background: url(static/img/valid3.png) center center no-repeat;
	display: inline-block
	}
	label.error {
	font-weight: bold;
	color:red;
	padding: 2px 8px;
	margin-top: 2px
	}
      </style>
    </head>
    
    <body>
      <!-- <body bgcolor="#212122">-->
      <div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
	  <div class="container">
	    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	      <span class="icon-bar"></span>
	      <!-- <span class="icon-bar"></span>
		   <span class="icon-bar"></span> -->
	    </a>
	    <a class="brand" href="/">Stuy Wiggles</a>
	    <div class="nav-collapse navbar-responsive-collapse in collapse">
	      <ul class="nav">
		{% if loggedout %}
		<li><a href="/about">About</a></li>
		<li><a href="/register">Register</a></li>
		{% else %}
		<li><a href="/profile">Profile</a></li>
		<li><a href="/tradingfloor">Trading Floor</a></li>
		<li><a href="/classinfo">Class Information</a></li>
		<li class="active"><a href="/edit">Edit Profile</a></li>
		<p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
		{% endif %}
	      </ul>
	    </div> <!-- /.nav-collapse -->
	  </div>
	</div>
      </div>

      <div class="container">
	<h1>Edit Profile : {{username}}</h1>
	
	<div class="control-group">
	  <label class="control-label" for="password">Change Password :</label>
	  <!-- Use tool for validation -->
	  <div class="controls">
	    <input type="password" id="password" name="password"/>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="verpassword">Verify Password : </label>
	  <div class="controls">
	    <input type="password" id="verpassword" name="verpassword" />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="name">Change Name :</label>
	  <div class="controls">
	    <input type="text" id="name" placeholder="First Last" name="name" value="{{name}}"/>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="email">Change Email :</label>
	  <div class="controls">
	    <input type="text" id="email" name="email" value="{{email}}"/>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="digit">Change Id : </label>
	  <div class="controls">
	    <input type="text" id="digit" placeholder="4-digit" name="digit" value="{{digit}}"/>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="osis">Change Osis : </label>
	  <div class="controls">
	    <input type="text" id="osis" placeholder="9-digit" name="osis" value="{{osis}}"/>
	  </div>
	</div>
	<button class="btn" type="submit" name="button" value="Edit">Edit</button>
      </div>
      
      
    </body>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
      
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/jquery-1.7.2.min.js"></script>
      <script src="static/js/jquery.validate.min.js"></script>
      
      <script>
	$(document).ready(function(){
	$("#editor").validate(
	{
	rules: {
	password:{
	minlength: 6,
	maxlength: 12,
	required: true
	},
	verpassword:{
	equalTo: "#password",
	required: true
	},
	name: {
	minlength: 2,
	required: true
	},
	email: {
	email: true,
	required: true
	},
	digit: {
	minlength: 4,
	maxlength: 4,
	required: true
	},
	osis: {
	minlength: 9,
	maxlength: 9,
	required: true
	}
	},
	highlight: function(element){
	$(element).closest('.control-group').removeClass('success').addClass('error');
	},
	success: function(element) {
	$(element).closest('.control-group').removeClass('error').addClass('success');
	$(element).addClass('valid') 
	}
	});
	});
      </script>
      
	
  </form>
</html>
