<!DOCTYPE html>
<html>

 <head>
    <title>Stuy Wiggles</title>
    <link rel="shortcut icon"  href="{{ url_for('static', filename='img/icon.jpg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:100px;
	padding-left:40px;
	background-image: url("../static/img/background100.jpg");
	background-repeat: repeat-y;
	color:black;
	}
	tr:hover {
	color: white;
	}
	.requests{padding-top:100px; padding-left:100px;}
	.back h3 {color:black;}
	h2,h3,h4,h5,h6,body {
	font-family:"georgia";
	color:black;
	}
      </style>
  </head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">

	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span> 
	</button>

	<a class="brand" href="/"><img src="static/img/Wiggles.png" height="20" width="89"></a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    {% if loggedout %}
	    <li> <a href="/about">About</a></li>
	    <li><a href="/register">Register</a></li>
	    {% else %}
	    <li><a href="/profile">Profile</a></li>
	    <li><a href="/tradingfloor">Trading Floor</a></li>
	    <li><a href="/classinfo">Class Information</a></li>
	    <li><a href="/edit">Edit Profile</a></li>
	    <li><a href="/grad15">Graduation Requirement (2015)</a></li>
	    <li><a href="/grad07">Graduation Requirement (2007)</a></li>
	    <a class="navbar-text pull-right" href="/logout" class="navbar-link">Logout</a>
	    {% endif %}
	  </ul>
	</div> <!-- /.nav-collapse --> 
    </div>
  </div>


<div class="pageTitle"><h1>Graduation Requirements</h1></div>
	<!---------------------------------------->
<H3>All Stuyvesant High School students beginning with the Class of 2007 (unless otherwise noted) must complete a minimum of the following courses between grades 9-12:</H3>

<table class="table table-condensed table-hover table-striped">
<thead class="dark">
	<tr>
		<th>
			Subject Area
		</th>
		<th>
			Course Requirements
		</th>
		<th>
			Is passing a NYS Regents Exam Required?
		</th>
		<th>
			Miscellany

		</th>
	</tr>
</thead>
<tbody class="light">
	<tr>
		<td>
			English
		</td>
		<td>
			4 years, grades 9-12
		</td>
		<td>
			<li>English Regents</li>
		</td>
		<td>
			 

		</td>
	</tr>
	<tr>
		<td>
			Social Studies
		</td>
		<td>
			4 years, grades 9-12. If a year of history (e.g., Global History I) is completed in 8th Grade, two terms of history courses must be substituted. 
		</td>
		<td>
			<li>Global History Regents</li><br>
			<li>US History Regents</li><br>
		</td>
		<td>
			 

		</td>
	</tr>
	<tr>
		<td>
			Sciences
		</td>
		<td>
			<li>Regents Living Environment</li><br>
				<li>Regents Chemistry</li><br>
						<li>Regents Physics</li><br>
	
			<li>1 year of Science electives (2 years if Living Environment and Regents taken in 8th Grade)</li><br>
		</td><td><li>Living Environment Regents</li><br>
			<li>Chemistry Regents</li><br>

			<li>Physics Regents</li>
		</td>
		<td>
			Science Electives may be any science course except Lab Techniques, Vertebrate Zoology, Intel Research classes, and Psychology courses.

			AP Psychology will count as a science elective under certain conditions (see Online Course Guide).

		</td>
	</tr>
	<tr>
		<td>
			Mathematics
		</td>
		<td>
			3 years of Mathematics,
			grades 9-12
		</td>
		<td>
			<li>Math A Regents</li><br>
				<li>Math B Regents


		</li></td>
		<td>
			Math Research, Math Team, and Computer Science courses do not fulfill the Math requirement.  Beginning with the class of 2009, successful completion of Pre-calculus or Advanced Algebra is required. 

		</td>

	</tr>
	<tr>
		<td>
			World Languages
		</td>
		<td>
			3 years of the same language at Stuyvesant. 
		</td>
		<td>
			Regents Exam after Level 6 
		</td>
		<td>
<p>			A minimum of Language Level 6 must be completed. 
</p>
		If students have completed 3 years of language study and passed the Regents in junior high school, they must choose a new language, complete 3 years of study, and pass the Regents in the new language</td>

	</tr>
	<tr>
		<td>
			Health and Physical Education
		</td>
		<td>
				<li>7 terms of Physical Education</li>
				<li>1 term of Health Education </li></td>
<td>
			No 
		</td>
		<td>
			Students who fail any Physical Education class must make up the class in Summer School.

		</td>
	</tr>
	<tr>
		<td>
			Technology Education
		</td>
		<td>
		<li>	1 term of Tech Graphic Communications TD1</li>

		
			<li>1 term of Intro to Computer Science, ML1</li>

	
			<li>1 term of 5 period Tech Lab</li>

			<li>1 term of 10 period Tech Lab</li>
		</td>
		<td>
			No 
		</td>
		<td>
		<p>	There is no exemption from 5 Tech. </p>
		Students who successfully complete participation in the Band, Orchestra or Chorus are exempted from 10Tech. </p>
		<p>			Students who complete a 2-pd Intel Research class and submit a paper to Intel are exempted from 10Tech.</p>

		</td>

	</tr>
	<tr>
		<td>
			Music and Fine Arts Education
		</td>
		<td>
		<li>	1 term Art Appreciation</li>

	
			<li>1 term Music Appreciation</li>
		</td>
		<td>
			No 
		</td>
		<td>
			Students in the Band, Orchestra or Chorus (for at least three terms) are exempted from Music Appreciation.

		</td>
	</tr>
	<tr>
		<td>
			Miscellaneous
		</td>
		<td>
			2 terms of Senior Electives (one course taken each term of senior year) 
		</td>
		<td>
			No 
		</td>
		<td>
			This requirement can be fulfilled by taking any one-credit course that is not being taken to fulfill another requirement. Intel Research classes do <i>not</i> fulfill this requirement.

		</td>
	</tr>
</tbody>
</table>

</body>
</html>
