<!DOCTYPE html>
<html>
  <head>
    <title>Stuy Wiggles</title>
    <link rel="shortcut icon"  href="{{ url_for('static', filename='img/icon.jpg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link  href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
      <style>
	body{padding-top:100px;
	padding-left:40px;
	background-image: url("../static/img/background611.jpg");
	background-repeat: repeat-y;
	color:black;
	}
	tr:hover {
	color: white;
	}
	a:link{color:#0404B4;}
	a:visited {color:#7d6115;}
	h1,h2,h3,h4,h5,h6,body {
	font-family:"georgia";
	}

	.back h3{
	color:black;
	}
	.requests{
	position:relative;
	left:50px;
	}
      </style>
  </head>

  <body>
    <!-- <body bgcolor="#212122">-->
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
	<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span> 
	</button>

	<a class="brand" href="/"><img src="static/img/Wiggles.png" height="20" width="89"></a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    {% if loggedout %}
	    <li> <a href="/about">About</a></li>
	    <li><a href="/register">Register</a></li>
	    {% else %}
	    <li><a href="/profile">Profile</a></li>
	    <li><a href="/tradingfloor">Trading Floor</a></li>
	    <li><a href="/classinfo">Class Information</a></li>
	    <li><a href="/edit">Edit Profile</a></li>
	    <li class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown">Graduation Requirements<b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href="/grad15">Graduation Requirement (2015)</a></li>
		<li><a href="/grad07">Graduation Requirement (2007)</a></li>
	      </ul>
	    </li>
	    <a class="navbar-text pull-right" href="/logout" class="navbar-link">Logout</a>
	    {% endif %}
	  </ul>
	</div> <!-- /.nav-collapse --> 
      </div>
    </div>
  </div>

<div class="container-fluid">
<form action="profile" method="POST" class="form-inline">
<div class="row-fluid">
  <div class="span7 back">
    <h3>Name: {{name}}</h3>
    <h3>Osis: {{osis}}</h3>
    <h3>Id: {{digits}}</h3>
    <h3>Email: {{email}}</h3>
    <div class="span7">
    <table class="table table-condensed table-hover">
      <thead>
	<tr>
	  <th>Period</th>
	  <th>Class</th>
	  <th>Teacher</th>
	  <th>Drop</th>
	</tr>
      </thead>
      <tbody>
	{% for data in schedule %}
	<tr>

	  <td>{{loop.index}}</td>
	  <td><a href="{{data[5]}}">{{data[1]}}</a></td>
	  <td>{{data[2]}}</td>
	  <td>
	  {% if not (data[1]==" free" or data[1]=="Cafe") %}
	  <button class="btn btn-danger btn-small" type="submit" name="button"  value="drop {{loop.index}}"><i class="icon-remove icon-white"></i>Drop</button></td>
	  {% endif %}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    </div>

  </div>
  <div class="span5">
    <div class="well">
      <h2>Notifications:</h2>


      <!--
      <h3>Your Posts</h3>
      <ul>
      {% for item in post %}
      <li><h5>You requested class: {{item[1]}} with teacher {{item[2]}} in period {{item[0]}}</h5></li>
      {% endfor %}
      </ul>
      -->

      <h3>My Requests:</h3>
      {% for item in accepted %}  
      <ul><h4>{{newernames[loop.index0]}} accepted your request</h4></ul>
      <div class="requests">
      {% for data in accepted[item] %}
      <li><h5>{{data[1]}} with teacher {{data[2]}} and period {{data[0]}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}
 
      <h3>Other's Requests:</h3>
      {% for item in accept %}  
      <ul><h4>You have accepted {{newnames[loop.index0]}}'s request</h4></ul>
      <div class="requests">
      {% for data in accept[item] %}
      <li><h5>{{data[1]}} with teacher {{data[2]}} and period {{data[0]}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}



    </div>
  </div>
</div>
</form>
</div>
  


<!--
<div class="container-fluid">
  <div class="row fluid">
    <div class="span10">
      <p>Name: </p>
      Osis: 
      Id:
      Schedule:
    </div>
    <div class="span2">
      <h1>Notification:</h1>
    </div>
  </div>
</div>

-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>



</body>
</html>
