<!DOCTYPE html>
<html>
  <head>
    <title>Stuy Wiggles</title>
    <link rel="shortcut icon"  href="{{ url_for('static', filename='img/W.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:60px;padding-left:40px}
	.requests{padding-left:40px}
      </style>
  </head>

  <body>
    <!-- <body bgcolor="#212122">-->

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <!--	    <span class="icon-bar"></span>
		    <span class="icon-bar"></span> -->
	</a>
	<a class="brand" href="/profile">Stuy Wiggles</a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    {% if loggedout %}
	    <li><a href="/about">About</a></li>
	    <li><a href="/register">Register</a></li>
	    {% else %}
	    <li class="active"><a href="/profile">Profile</a></li>
	    <li><a href="/tradingfloor">Trading Floor</a></li>
	    <li><a href="/classinfo">Class Information</a></li>
	    <li><a href="/edit">Edit Profile</a></li>
	    <p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
	    {% endif %}
	  </ul>
	</div> <!-- /.nav-collapse --> 
      </div> 
    </div>
  </div>

<div class="container-fluid">
<form action="profile" method="POST" class="form-inline">
<div class="row-fluid">
  <div class="span8">
    <h3>Name: {{name}}</h3>
    <h3>Osis: {{osis}}</h3>
    <h3>Id: {{digits}}</h3>
    <h3>Email: {{email}}</h3>
    <div class="span7">
    <table class="table table-condensed table-hover">
      <thead>
	<tr>
	  <th>Period</th>
	  <th>Class</th>
	  <th>Teacher</th>

	</tr>
      </thead>
      <tbody>
	{% for data in schedule %}
	<tr>

	  <td>{{loop.index}}</td>
	  <td>{{data[1]}}</td>
	  <td>{{data[2]}}</td>


	</tr>
	{% endfor %}
      </tbody>
    </table>
    </div>

  </div>
  <div class="span4">
    <div class="well">
      <h2>Notifications:</h2>


      <!--
      <h3>Your Posts</h3>
      <ul>
      {% for item in post %}
      <li><h5>You requested class: {{item[1]}} with teacher {{item[2]}} in period {{item[0]}}</h5></li>
      {% endfor %}
      </ul>
      -->

      <h3>Request Acceptance From Others</h3>
      {% for item in accepted %}  
      <ul><h4>{{item}} accepted your request:</h4></ul>
      <div class="requests">
      {% for data in accepted[item] %}
      <li><h5>{{data[1]}} with teacher {{data[2]}} and period {{data[0]}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}
 
      <h3>Requests You Have Accepted:</h3>
      {% for item in accept %}  
      <ul><h4>You have accepted {{item}}'s request:</h4></ul>
      <div class="requests">
      {% for data in accept[item] %}
      <li><h5>{{data[1]}} with teacher {{data[2]}} and period {{data[0]}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}



    </div>
  </div>
</div>
</form>
</div>
  


<!--
<div class="container-fluid">
  <div class="row fluid">
    <div class="span10">
      <p>Name: </p>
      Osis: 
      Id:
      Schedule:
    </div>
    <div class="span2">
      <h1>Notification:</h1>
    </div>
  </div>
</div>

-->


</body>
</html>
