<!DOCTYPE html>
<html>
  <head>
    <title>Stuy Wiggles</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:60px;padding-left:40px}
	.requests{padding-left:40px}
      </style>
  </head>

  <body>
    <!-- <body bgcolor="#212122">-->

  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <!--	    <span class="icon-bar"></span>
		    <span class="icon-bar"></span> -->
	</a>
	<a class="brand" href="/profile">Stuy Wiggles</a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    <li class="active">
	      <a href="/about">About</a>
	    </li>
	  <li><a href="/profile">Profile</a></li>
	  <p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
	  </ul>
	</div> <!-- /.nav-collapse --> 
      </div> 
    </div>
  </div>

<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <h3>Name: {{name}}</h3>
    <h3>Osis: {{osis}}</h3>
    <h3>Id: {{digits}}</h3>
    <div class="span7">
    <table class="table table-condensed table-hover">
      <thead>
	<tr>
	  <th>Period</th>
	  <th>Class</th>
	  <th>Teacher</th>
	</tr>
      </thead>
      <tbody>
	{% for data in schedule %}
	<tr>
	  <th>{{loop.index}}</th>
	  <th>{{data[0]}}</th>
	  <th>{{data[1]}}</th>
	</tr>
	{% endfor %}
      </tbody>
    </table>
    </div>

  </div>
  <div class="span4">
    <div class="well">
      <h2>Notifications:</h2>
      <h3>Request Received:</h3>

      {% for item in received %}  
      <ul><h4>From {{item}}:</h4></ul>
      <div class="requests">
      {% for data in received[item] %}
      <li><h5>{{data}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}
 
      <h3>Request Sent:</h3>
      {% for item in sent %}  
      <ul><h4>To {{item}}:</h4></ul>
      <div class="requests">
      {% for data in sent[item] %}
      <li><h5>{{data}}</h5></li>
      {% endfor %}
      </div>
      {% endfor %}



    </div>
  </div>
</div>
</div>
  


<!--
<div class="container-fluid">
  <div class="row fluid">
    <div class="span10">
      <p>Name: </p>
      Osis: 
      Id:
      Schedule:
    </div>
    <div class="span2">
      <h1>Notification:</h1>
    </div>
  </div>
</div>

-->


</body>
</html>
