<!DOCTYPE html>
<html>

  <head>
    <title>Stuy Wiggles</title>
    <link rel="shortcut icon"  href="{{ url_for('static', filename='img/W.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <link href="static/css/bootstrap-responsive.css" rel="stylsheet">
    <link  href="static/css/bootstrap.css" rel="stylesheet">
      <style>
	body{padding-top:60px;padding-left:40px}
	.requests{padding-top:100px; padding-left:100px;}
      </style>
  </head>

  <body>
    <form action="tradingfloor" method="POST" name="formpost">
    <!-- <body bgcolor="#212122">-->
    <form action="tradingfloor" method="POST" name="formpost">
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  <span class="icon-bar"></span>
	  <!--	    <span class="icon-bar"></span>
		    <span class="icon-bar"></span> -->
	</a>
	<a class="brand" href="/profile">Stuy Wiggles</a>
	<div class="nav-collapse navbar-responsive-collapse in collapse">
	  <ul class="nav">
	    {% if loggedin %}
	    <li> <a href="/about">About</a></li>
	    <li><a href="/register">Register</a></li>
	    {% else %}
	    <li><a href="/profile">Profile</a></li>
	    <li class="active"><a href="/tradingfloor">Trading Floor</a></li>
	    <li><a href="/classinfo">Class Information</a></li>
	    <li><a href="/edit">Edit Profile</a></li>
	    <p class="navbar-text pull-right"> <a href="/logout" class="navbar-link">Logout</p></a>
	    {% endif %}
	  </ul>
	</div> <!-- /.nav-collapse --> 
      </div> 
    </div>
  </div>

  {% if validate %}
<div class="alert alert-block alert-error fade in">
<h4 class="alert-heading">Invalid Input! Period should be an integer between 1 and 10. Teacher and Class cannot be empty.</h4>
</div>
{% endif %}

<div class="container-fluid">
<div class="row-fluid">
  <div class="span12">
    <div class="span4">
    <h3>Name: {{name}}</h3>
    <h3>Osis: {{osis}}</h3>
    <h3>Id: {{digits}}</h3>
    </div>
    <div class="span10">
      <form class="navbar-search pull-left">
	<input type="text" class="search-query filter" placeholder="search">

	<table class="table table-condensed table-hover">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Current Schedule</th>
	      <th>Request</th>
	      <th>Accept</th>
	    </tr>
	  </thead>
	  <tbody class="searchable">
	    {% for item in floor %}
	    <tr>
	      <td>{{item.name}}</td>
	      <td>{{item["current schedule"][1]}} with {{item["current schedule"][2]}} period {{item["current schedule"][0]}}</td>
	      <td>{{item.request[1]}} with {{item.request[2]}} period {{item.request[0]}}</td>
	      <td> <button class="btn btn-success btn-small" type="submit" name="button" value="{{loop.index}}"><i class="icon-ok icon-white"></i>accept</button></td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	</form>
    </div>
  </div>


<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'Wiggles'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
</body>
</form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/jquery-1.7.2.min.js"><\/script>')</script>
      <script src="static/js/bootstrap.min.js"></script>
      <script src="static/js/nod.js"></script>


      <script type="text/javascript">
	$('#bregister').click(function(){
	$('#register').modal()})

	$('input.filter').live('keyup', function() {
	var rex = new RegExp($(this).val(), 'i');
	$('.searchable tr').hide();
        $('.searchable tr').filter(function() {
        return rex.test($(this).text());
        }).show();
	});

	$(".alert").alert()
//	var metrics = [
//	["#class","presence","Cannot be empty"],
//	["#period","between-num:1:10","Between number 1-10"],
//	["#teacher","presence","cannot be empty"],
//	];

//	var options = {
//	'groupClass':'warning',
//	'disableSubmitBtn':false,
//	};

//	$("formpost").nod(metrics,options);

</script>
</html>
